/* ********** Custom Properties ********** */
:root {
  --first-color: #000000;      /* Negro Puro */
  --second-color: #434343;     /* Gris Oscuro (para que se note el degradado) */
  --text-light: #f8f9fa;       /* Blanco/Gris claro para textos */
  --link-color: #818182;
  --third-color: #ffffff;
}

/* ********** Reset Styles ********** */
html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}

/* ********** Bootstrap Styles ********** */
.bg-dark {
  background-color: var(--first-color) !important;
}

.dropdown-item {
  color: var(--first-color);
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.dropdown-item:hover {
  opacity: 0.75;
}

.navbar{
  background-color: #000000;
  padding-top: 1.8rem !important;    
  padding-bottom: 1.8rem !important;
}

.navbar-brand img {
  width: auto;
  height: 8rem;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}

.nav-item {
  transition: all 0.3s ease-out;
}

.nav-item:hover {
  background-color: var(--first-alpha-color);
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--third-color);
  font-size: 1.15rem;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(123, 0, 0);
}

/* ********** My Styles ********** */
main {
  flex: 1;
  min-height: 100vh;
}

.bg-gradient-blue-green {
  background-color: rgba(83, 184, 152, 1);
  background-image: linear-gradient(
    135deg,
    var(--first-color),
    var(--second-color) 79%
  );
  background-image: linear-gradient(
    131deg,
    var(--first-color),
    var(--second-color) 79%
  );
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}

.btn-warning{

  background-color: rgb(129, 129, 129);
  border: #000000;
}
.btn-danger{
  background-color: rgb(72, 4, 4);
  border: #000000;
}

.btn-primary{
  background-color: #1c5704 !important;
  border: #000000;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15) !important;
}

.btn-secondary{
  background-color: #b40404 !important;
  border: #000000;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15) !important;
}

footer nav a:hover {
    color: #ffffff !important; /* BLANCO PURO al pasar el ratón */
    transform: translateY(-3px); /* Pequeño efecto de "salto" hacia arriba */
}

.table th, .table td {
    text-align: center !important;      /* Centra el texto horizontalmente */
    vertical-align: middle !important;  /* Centra el texto verticalmente */
}